/*
.navbar {
	font-family: 'Roboto', sans-serif;
}
*/

.ubuntuFont {
	font-family: 'Ubuntu', sans-serif;
}

textarea {
	width: 625px;
	height:250px;
	font-family: 'Ubuntu', sans-serif;
	outline-color: limegreen;
}

/* input[type="button"]:focus {
	outline-color: black;
} */
